:root{
  --font-primary: Consolas, "gg sans", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
  --font-display: Consolas, "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-code: Consolas, "gg mono", "Source Code Pro", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.c38106a3f0c3ca76-trailing{
	width: 100%;
	-webkit-app-region: drag;
  >.c38106a3f0c3ca76-winButtonsWithDivider{
    position: absolute;
    left:0;
  }	
}

.c38106a3f0c3ca76-winButtons{
  gap: 7.5px;
}

.c38106a3f0c3ca76-winButtonsWithDivider{
	-webkit-app-region: no-drag;
}
.c38106a3f0c3ca76-winButtonsWithDivider:before{
  display: none !important;
}

.c99c29809d200a61-clickable[aria-label="Inbox"]{
  -webkit-app-region: no-drag;
}

.c38106a3f0c3ca76-winButtonClose,
.c38106a3f0c3ca76-winButtonMinMax{
  width: 18px;
  height: 18px;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c38106a3f0c3ca76-winButtonClose{
	order: -1;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAACXBIWXMAAB2HAAAdhwGP5fFlAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAO1QTFRFAAAA/wAAx1BAyU1GzFBCzU5AyUxBylBFy05EzE1CzVBByU5Fy05BzE1EzU9Dyk1FzE5DzU1CyU9Cyk5Ey01Ey09Dyk1Eyk9Dyk9Dy05Cy05EzE1Dyk5Dyk5Cyk5Dy05Dy01Dy05Cy09Dyk5Dy01Dy01Dy05Cy05Dy05DzE5DzE9EzFBEzE9DzE9EzU5Ey05Dy05Dy05Dy05Dz1BFz1BE01FF01FG1FJF1VFG1VJG1VJH1lJG11NG41dL41hL6FlM6FlN6FpN6VpN7lxP8FxP8FxQ8F1Q8V1P8V1Q8l5Q9l9R9l9S+2FT/GFT/mJUOUcpSQAAADV0Uk5TAAEgISMkLzAxMjM0Ozw9P0FCUVJTVFZXfn+AgYKDvb6/xMbHydbX2Nna6ers7Ozx8vP0+foyAAbpAAABDElEQVQYGa3B6VaCQBgG4HfUStu00hYtwg1My0KTSgOXEFDku//L6Yx6OIIz/3weHBI7fVT1Xk9TKzkIsNuWac+DMAzmtqmXGBIyjZFHkcVvPY2Yi/aMYqZvV9hR+PQpwe/nEUl3fNqz6B5hizVmJDCuMWzcjUhoWMQaa/kk5GpYOzNJwsyCe7JIwiqDU+ck4SjgXgKSWOrgjJAkQgPcx4okVu/gWkuSCDRwzy5JOAq4ik0S9j243IAkzGNwTPdIyG1io/RNQsNrbLD6lAQmVYatVMejPYtuBpF836cEr3+JHeftMcVMXguISde+/iji/lRTSGBFbWA5QRguHWvQvIFItqxohqEpDyc4pH8FwLC3A/+dYAAAAABJRU5ErkJggg==");
}

.c38106a3f0c3ca76-winButtonMinMax[aria-label="Minimise"]{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAACXBIWXMAAB2HAAAdhwGP5fFlAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAPlQTFRFAAAA//8Ax58oyaInzKAkzaMjyaMmyp8ly6EkzKMkyKAjyaIiy6AjzKIiyaMmyqIkyKEjyaIjyaEjyqIly6Aly6EkyqAkyqEjyqIky6EkyaEkyqAkyqEjyqIjyqEky6EkyqIkyqEkyqEkyqEkyqEky6EkyqEkyqEjyqEkyqEkzKIky6Iky6IkzKIkyqEkyqEkyaEkyqEkzqQlzqQl0qcl0qcm06cl06gm1Kgm1Kkl1akm1aom1qsm4bMo4rQo57gp6Lgp6Lkp7r0r774r8L4q8L4r8L8q8L8r8MAr8cAr9MMs9cIs9cMr9cMs+sct+8ct+8gt/cgt/cktW1xPRwAAADR0Uk5TAAEgISMkLzAxMjM0Ozw9P0FCUVJTVFZXfn+AgYKDvb6/xMbHydbX2Nna6ers7PHy8/T5+r68T3IAAAERSURBVBgZrcHpVoJAGAbgd9RK27TSFi1yBXMpNGmxQEwBC1P87v9iOqMejuLMv54H/4kd3ha1TkctFlIQYJf1njX253N/bPW0HENEotp3KfT9WYljy0nDpi3D1hk2ZJ49ivC6aYTiTY92TNp7WGNVmwTsMsPK1QcJ9bNYYnWPhBwVS0cvJNFLgruzSMLMgyuOScJTwD1MSeJXA6cHJBHo4J5mJDF7BFefkoSvgrt3SGKkgCtYJGFeg0sZJGHsg2OaS0JODSu59wWJ9M+xwipDEhiUGNZiTZd2TNoJhNJdjyLc7ik2HDds2rQYtDLYEi+/flHIeSvFEMGyqmF6fhD8jEyjdgGRZF5RdV1Vbg7wn/4Aa2y4NcIq7QMAAAAASUVORK5CYII=");
}

.c38106a3f0c3ca76-winButtonMinMax[aria-label="Maximise"]{
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAACXBIWXMAAB2HAAAdhwGP5fFlAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAOpQTFRFAAAAAP8AIKcwH6ouHagzI6oyIagxIKowH6c0H6gzHqoyIqcxHqk0IqozIacyIKoxH6kzH6oyH6oyH6gyH6kxIaoxIakyIKoyIKozIKkyIKkyIKgxH6kxH6kzIKkyIKkyIKoxIakxIKkyIKkyIKkxIKkyIKgyIKkyIKkzIKgyIKoyIKoyIKoyIaoyIKkyIKkyH6kyIKkyIawzIawzIa80IbA0IbI1IrE0IrE1IrM1I7w4JLw4JME6JcE5JcI5JcI6Jcg7JsY7Jsc8Jsg7Jsg8Jsk8J8w9J809J9E+KNA/KNE+KNE/KNI/KNM/g7N2TgAAADR0Uk5TAAEgISMkLzAxMjM0Ozw9P0FCUVJTVFZXfn+AgYKDvb6/xMbHydbX2Nna6ers7PHy8/T5+r68T3IAAAEMSURBVBgZrcF7VwFBGAfg36CiGxVdqM11V6iWhrTrstnRavN+/6/TGZw9rJn/PA8OiZ0+lq1u1yyXMlBgt03uesFiEXgutwoMMan6QFBk/lVLYsdFa0o7Rp0rbMl9CIoRvSwiybagPfPOETZYfUoKkyrD2t2AlIZ5rLCmICXfxMpZnzR4GtKTSxpOEVLZIw1hQHoJSCOwINkhaYQ2pPc/0vh9g9QMSCMwIT37pDEzIJVc0nDuIWU4afBjSMwSpOQ3sFYYLklleI01VhuRwrjCsJFoC9oz76QQyfYExYjeJbactya0bTl+zWFHstr/poj/WUkghuVN7oggDH9mDm/cQCVdNEzbNo2HExzSPxi3resNC28KAAAAAElFTkSuQmCC");
}

.c38106a3f0c3ca76-winButtonsWithDivider:hover .c38106a3f0c3ca76-winButtonClose {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAACXBIWXMAAB2HAAAdhwGP5fFlAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAARFQTFRFAAAA/wAAx1BAyU1GzFBCzU5AyUxBylBFy05EzE1CzVBByU5Fy05BzE1EzU9Dyk1FzE5DzU1CyU9Cyk5Ey01Ey09Dyk1Eyk9Dyk9Dy05Cy05EzE1Dyk5Dyk5Cyk5Dy05Dy01Dy05Cy09Dyk5Dy01Dy01Dy05Cy05Dy05DzE5DzE9EzFBEzE9DzE9EzU5Ey05Dy05Dy05Dy05Dz1BFz1BEfzEqgDIqgzMrpD820FBF0lFG01FF01FG1FJF1FJG1VFG1VJG1VJH1lJG11NG41dL41hL5llM51lM6FlM6FlN6FpN6VpN7lxP8FxP8FxQ8F1Q8V1P8V1Q8l5Q815Q9F5R9l9R9l9S+2FT/GFT/WJU/mJUEjW7vgAAADV0Uk5TAAEgISMkLzAxMjM0Ozw9P0FCUVJTVFZXfn+AgYKDvb6/xMbHydbX2Nna6ers7Ozx8vP0+foyAAbpAAABZElEQVQ4y62TaVuCQBDHvSrt0ko7tAwvIO1CQ0y3ywBNUzATcb//BwlmAeXw6Y3zAvaZ3/+ZnZ0jFNqghXcvKaZep6lcIhCfskgaa7qujSXEZMJeHit3VezYz2cp6uYH1SF22eDuaJWnnibYY5NGcsmjNR83rrnfcvIrD3GA9Yt2pmddcCzkKSFTeQH/j7QVgIULFi1eQOYBCXwLFApNBHvgxjLP8802xu2mceiBC8VBcCWSwAIogAu/4BKzIKDG5GpkoiZ8SEw8yoPgRrPSfjWhyZ8tx4wBAadjl8LhWOdA8Di3HcgjmD+AgJ25+IpCI++8Vv5JMif5n0lqKp2DINFZW6htUmpGXVPqitWszBtpVs9uVs9q1rHd7tIgqN1fBWcwIzU1aGBiy5FKNnwjpTYOV4dyv9r3xL9Nucc6Wnz5XmLlvRDxLU6a7ogjY3FmI7FTOQncvXg2T3Mcnb/Y2eRGh/4A4o24Z6J43oEAAAAASUVORK5CYII=");
}

.c38106a3f0c3ca76-winButtonsWithDivider:hover .c38106a3f0c3ca76-winButtonMinMax[aria-label="Minimise"] {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAACXBIWXMAAB2HAAAdhwGP5fFlAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAQ5QTFRFAAAA//8Ax58oyaInzKAkzaMjyaMmyp8ly6EkzKMkyKAjyaIiy6AjzKIiyaMmyqIkyKEjyaIjyaEjyqIly6Aly6EkyqAkyqEjyqIky6EkyaEkyqAkyqEjyqIjyqEky6EkyqIkyqEkyqEkyqEkyqEky6EkyqEkyqEjyqEkyqEkzKIky6Iky6IkzKIkyqEkyqEkyaEkyqEkzqQlzqQlfmQWi24ZjG8ZjXAZ0qcl0qcm06cl06gm1Kgm1Kkl1akm1aom1qsm16sm2Kwm2a0n4bMo4rQo57gp6Lgp6Lkp7r0r774r8L4q8L4r8L8q8L8r8MAr8cAr9MMs9cIs9cMr9cMs+sct+8ct+8gt/cgt/cktJgdBjQAAADR0Uk5TAAEgISMkLzAxMjM0Ozw9P0FCUVJTVFZXfn+AgYKDvb6/xMbHydbX2Nna6ers7PHy8/T5+r68T3IAAAEsSURBVBgZrcHZVoJQFADQc9VKm7TSBi1yBHMoNEJpsDIQU8DCFM///0hcdbEA4c29YZvI/nWea7XYfC4BAch5tauMzfncHCtdLkPAJ1bu6ej4+ShFweOopqLHsHECLqlHA32MdhIc0bqBGybNHVgjZRUDqEUCKxfvGKiXhiVSNTCQxsLSwTOG6MaBulEwhJwFKj/GEAYD1N0UbZ9PgovYR9sfBxRvoU0UPES0WTxQDzO0iYJHB22ze6CqU7T1O4JL5wttJgvUrYYhRgxQOQVDyJdAJSQMIe0CRTgdA2kVWMm8LTBI7xRWSGmIAQYFAmuRuo4bJs0YOJJtA3309jG4HNZUdFsMGinwiBZfvtGhvRYi4EPSrCQbpmX9jmSpcgZB4lmG5XmWudqDbfoH59u+Q7zzHWUAAAAASUVORK5CYII=");
}

.c38106a3f0c3ca76-winButtonsWithDivider:hover .c38106a3f0c3ca76-winButtonMinMax[aria-label="Maximise"] {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAACXBIWXMAAB2HAAAdhwGP5fFlAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAPxQTFRFAAAAAP8AIKcwH6ouHagzI6oyIagxIKowH6c0H6gzHqoyIqcxHqk0IqozIacyIKoxH6kzH6oyH6oyH6gyH6kxIaoxIakyIKoyIKozIKkyIKkyIKgxH6kxH6kzIKkyIKkyIKoxIakxIKkyIKkyIKkxIKkyIKgyIKkyIKkzIKgyIKoyIKoyIKoyIaoyIKkyIKkyH6kyIKkyIawzIawzFGkfF3slG4wqG40qG48rIa80IbA0IbI1IrE0IrE1IrM1I7w4JLw4JME6JcE5JcE6JcI5JcI6Jcg7JsY7Jsc8Jsg7Jsg8Jsk8J8w9J809J9E+KNA/KNE+KNE/KNI/KNM/iZYWoAAAADR0Uk5TAAEgISMkLzAxMjM0Ozw9P0FCUVJTVFZXfn+AgYKDvb6/xMbHydbX2Nna6ers7PHy8/T5+r68T3IAAAFESURBVDhPrZJrV4JAEIYXtdJuWmkXLcIbmFmhabYagZdMKAzl//+XOjMsLLSfOj3fZt5ndxbOEPKPSLuXitbtqkolJ4xPW9RauKuVu7CoVpKSeaYxdvyQj9d6Op4ftN/8GJPOEZ8XHrnjiNPLR3n69lf+M6azxXKpkbgfmdfYS8/Gotz3jWJwQYsNWA/7wGAGpa2isDcKz4QGljQLwpUVpJyBHbMMgrLA8gmMZ05wZBBuXCz7nIEdVwNB9wKBM7Dj6SA8rJkQGdj5ugehxUZwRjACv/PajgRmYGeJj6xYnNAfgoEd8xyEHMVywBkI3QZB0vBXz5KG3SRIydj4IozjQJDqE1E+rYaLmRIvTIaE5HuClTskHPvteSzeTO8KJEa6NnqPcvulmiIJpKJKTcf1vM+lSZsnyRjIlmVV11X5YkcY/5Vvqi2wIYuZTtIAAAAASUVORK5CYII=");
}

.c38106a3f0c3ca76-winButtonClose svg,
.c38106a3f0c3ca76-winButtonMinMax svg{
  display: none !important;
}

.c38106a3f0c3ca76-show{
  display: none !important;
}
